html{
    scroll-behavior: smooth;
    cursor: none;
}
body{
    background-color: bisque;
}

.header{
    background-color:rgba(252, 195, 126, 0);
    transition: background-color 0.75s;
    position: fixed;
    z-index: 10;
    width: 90%;
    border-radius: 30px;
    left: 5%;
    top: 2%;
}

.bg-on-scroll{
    background-color:rgba(252, 195, 126, 0.729);
    transition: background-color 2s;
    position: fixed;
    z-index: 10;
    width: 90%;
    border-radius: 30px;
    left: 5%;
    top: 2%;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

a:hover{
    cursor: pointer;
}

.nav-options:hover{
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 3px;
    color: black;
}

.header-button:hover{
    background-color: #5783db;
    color: azure;
}

.hero {
    background-image: url("./media/Hero.jpg");
    background-size: cover;
    height: 50rem;
    position: relative;
}

.hero-content{
    position: absolute;
    top: 80%;
}

img{
    cursor: pointer;
}
.gallery-section{
    background-image: url("./media/bg-image.jpg");
}

.gallery-img:hover{
    border-radius: 10px;
    transform: scale(1.25);
    transition-duration: 2s;
    cursor: zoom-in;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}


.ecomm-section{
    background-image: url("./media/bg-image.jpg");
}

.footer{
    background-image: url("./media/bg-image.jpg");

}
.footer-section{
    background-color: rgb(252, 195, 126);
}

.product-section{
    margin-top: 50px;
}

::-webkit-scrollbar{
    width: 0.75em;
  }
  
  ::-webkit-scrollbar-track{
    background: bisque;
    
  }
  
  ::-webkit-scrollbar-thumb{
    background-image: url("./media/scrollbar-thumb-background.jpg");
    background-size:cover;
    border-radius: 20px;
    border: 0.125em solid;
    border-color: bisque;
  }



  /* page loader */
  .custom-loader {
    width: 80px;
    height: 80px;
    --c:white 91%,#0000;
    background:
      radial-gradient(30% 50% at -3px             55%, var(--c)) top    right,
      radial-gradient(30% 50% at -3px             45%, var(--c)) bottom right,
      radial-gradient(30% 50% at calc(100% + 3px) 55%, var(--c)) top    left,
      radial-gradient(30% 50% at calc(100% + 3px) 45%, var(--c)) bottom left,
  
      radial-gradient(50% 30% at 45% calc(100% + 3px), var(--c)) top    right,
      radial-gradient(50% 30% at 45% -3px            , var(--c)) bottom right,
      radial-gradient(50% 30% at 55% calc(100% + 3px), var(--c)) top    left,
      radial-gradient(50% 30% at 55% -3px            , var(--c)) bottom left;
    background-size: 50.1% 50.1%;
    background-repeat: no-repeat;
    -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
    animation:sh8 1.5s infinite linear;
  }
  
  @keyframes sh8 { 
    100%{transform: rotate(1turn)}
  }
